{% extends "_base.html" %}
{% load crispy_forms_tags %}

{% block title %}Scraping Sphere - Pricing{% endblock title %}

{% block content %}

    <section class="pricing-intro">
      <div class="pricing-intro-text">
        <h2>We offer flexible pricing options for your scraping needs</h2>
        <p>Our scraping service is designed to help you extract valuable data from websites quickly and easily. With our range of flexible pricing options, you can choose the plan that best fits your needs and budget.</p>
      </div>
    </section>




    <section class="pricing">
      <h2>Scraping Options</h2>
      <div class="pricing-table">
        <div class="pricing-plan">
          <h3>One-Time Scrap</h3>
          <p class="price">$99</p>
          <ul>
            <li>Scrape up to 1,000 pages</li>
            <li>Extract data from the website</li>
            <li>Clean and format the data</li>
            <li>Quick email support for any questions or issues</li>
          </ul>
          <a href="{% url 'contact' %}" class="button">GET STARTED</a>
        </div>
        <div class="pricing-plan">
          <h3>Basic Plan</h3>
          <p class="price">$199/month</p>
          <ul>
            <li>Scrape up to 10,000 pages per month</li>
            <li>Extract data from the website</li>
            <li>Clean and format the data</li>
            <li>Quick email support for any questions or issues</li>
          </ul>
          <a href="{% url 'contact' %}" class="button">GET STARTED</a>
        </div>
        <div class="pricing-plan">
          <h3>Pro Plan</h3>
          <p class="price">$399/month</p>
          <ul>
            <li>Scrape up to 50,000 pages per month</li>
            <li>Extract data from the website</li>
            <li>Clean and format the data</li>
            <li>Priority email support for any questions or issues</li>
          </ul>
          <a href="{% url 'contact' %}" class="button">GET STARTED</a>
        </div>
      </div>
    </section>

{% endblock content %}
