{% extends "_base.html" %}
{% load crispy_forms_tags %}

{% block title %}Scraping Sphere - Email Sent{% endblock title %}

{% block content %}
  <section class="contact-response">
    <div class="response-header">
      <h2>Thank you for getting in touch!</h2>
      <h3>We have received your message and will be in contact shortly.</h3>
    </div>
    <div class="response-text">
      <p>We appreciate your interest in our web scraping services and look forward to helping you extract valuable data from websites. Our team is dedicated to providing quick and efficient support for all of our clients, whether you're interested in a one-time scrape or one of our monthly plans.</p>
      <p>We will be in touch with you shortly to discuss your web scraping needs and provide you with a customized solution that meets your requirements. In the meantime, please feel free to peruse our website and learn more about our services. If you have any further questions or concerns, please don't hesitate to reach out to us at <a href="mailto:contact@scrapingsphere.com" class="mail-link">contact@scrapingsphere.com</a>. We appreciate your interest in our services and look forward to working with you.</p>
    </div>
  </section>
{% endblock content %}
